<a href="https://colab.research.google.com/github/garryDCU/CA4022/blob/main/sklearn_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implementation of Gaussian NB model using SK Learn
In this notebook, we attempted to classify fraud using sklearn's gaussian naive bayes classifier. The dataset can be found on [Kaggle](https://https://www.kaggle.com/volodymyrgavrysh/fraud-detection-bank-dataset-20k-records-binary). We got an accuracy score (AUC) of 0.65 using a PySpark distributed version of the same algorithm and want to identify how this compares to a non-distributed version of the same algorithm.

#### Necessary imports

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from google.colab import drive
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

#### Mount the drive and import the data

In [2]:
 drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
data=pd.read_csv('/content/drive/MyDrive/CA4022FinalAssignment/fraud_detection_bank_dataset.csv')
del data['Unnamed: 0']
data.head()

   col_0  col_1  col_2  col_3  ...  col_109  col_110  col_111  targets
0      9   1354      0     18  ...        0        0       49        1
1      0    239      0      1  ...        0        0       55        1
2      0    260      0      4  ...        0        0       56        1
3     17    682      0      1  ...        0        0       65        1
4      1    540      0      2  ...        0        0      175        1

[5 rows x 113 columns]

#### Format the data for use with the model

In [7]:
train, test = train_test_split(data, test_size=0.2)

In [10]:
test.shape

(4094, 113)

In [11]:
train.shape

(16374, 113)

In [ ]:
y_test=test['targets']
y_test.to_numpy()

y_train=train['targets']
y_train.to_numpy()

X_test=test
del X_test['targets']
X_test.to_numpy()

X_train=train
del X_train['targets']
X_train.to_numpy()

#### Create the model

In [12]:
gnb = GaussianNB()

#### Train the classifier

In [16]:
classifier=gnb.fit(X_train, y_train)

#### Make predictions
The classifier predicts a set of y values using the X_test data as input.

In [17]:
y_pred=classifier.predict(X_test)

#### Evaluate the accuracy of the classifier
The metric of choice in this case is AUC (area under the ROC curve) in line with the distributed model created using PySpark

In [20]:
roc_auc_score(y_test, y_pred)

0.4978282627962073

#### Notes
All cells in this notebook ran much quicker than the PySpark notebook. The training of the model in this notebook was almost instantaneous while the PySpark model took a couple of minutes. The accuracy in this notebook was 0.49 while the accuracy of the distributed version of the same model was 0.65.